body {
  background-image: url(https://clipart-library.com/images/rTnreyLAc.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  background-color: #29303c;
}
